@model Publicacion


<div class="mb-3">
    <label for="Titulo" class="form-label">Titulo</label>
    <input asp-for="Titulo" type="text" class="form-control" id="Titulo" aria-describeddy="Titulo"/>
    @Html.ValidationMessageFor(x => x.Titulo, "", new { @class="text-danger"})

</div>

<div class="mb-3">
    <label for="Subititulo" class="form-label">Subtitulo</label>
    <input asp-for="Subtitulo" type="text" class="form-control" id="Subtitulo" aria-describeddy="Subtitulo"/>
    @Html.ValidationMessageFor(x => x.Subtitulo, "", new { @class="text-danger"})

</div>

<div class="mb-3">
    <label for="Creador" class="form-label">Creador</label>
    <input asp-for="Creador" type="text" class="form-control" id="Creador" aria-describeddy="Creador"/>
    @Html.ValidationMessageFor(x => x.Creador, "", new { @class="text-danger"})

</div>

<div class="mb-3">
    <label for="Creacion" class="form-label">Creacion</label>
    <input asp-for="Creacion" type="date" class="form-control" id="Creacion" aria-describeddy="Creacion"/>
    @Html.ValidationMessageFor(x => x.Creacion, "", new { @class="text-danger"})

</div>

<div class="mb-3">
    <label for="Imagen" class="form-label">Imagen</label>
    <input asp-for="Imagen" type="text" class="form-control" id="Imagen" aria-describeddy="Imagen"/>
    @Html.ValidationMessageFor(x => x.Imagen, "", new { @class="text-danger"})

</div>


<div class="mb-3">
    <label for="Cuerpo" class="form-label">Cuerpo</label>
    <textarea asp-for="Cuerpo" class="form-control" id="Cuerpo" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
    @Html.ValidationMessageFor(x => x.Cuerpo, "", new { @class="text-danger"})

</div>